*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
build.gradle
gradle.properties
gradlew
gradlew.bat
settings.gradle
.idea/
app/.gitignore
app/proguard-rules.pro
app/src/androidTest/java/gallows/p/ExampleInstrumentedTest.java
app/src/test/java/gallows/p/ExampleUnitTest.java
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
app/src/main/ic_launcher1-playstore.png
